day1/csharp/obj/*
day1/csharp/bin/*

day2/csharp/obj/*
day2/csharp/bin/*

day3/csharp/obj/*
day3/csharp/bin/*

day4/csharp/obj/*
day4/csharp/bin/*

day5/csharp/obj/*
day5/csharp/bin/*

day6/csharp/obj/*
day6/csharp/bin/*
