day1/csharp/obj/*
day1/csharp/bin/*

day2/csharp/obj/*
day2/csharp/bin/*

day3/csharp/obj/*
day3/csharp/bin/*

day4/csharp/obj/*
day4/csharp/bin/*

day5/csharp/obj/*
day5/csharp/bin/*

day6/csharp/obj/*
day6/csharp/bin/*

day7/csharp/obj/*
day7/csharp/bin/*

day8/csharp/obj/*
day8/csharp/bin/*

day9/csharp/obj/*
day9/csharp/bin/*

day10/csharp/obj/*
day10/csharp/bin/*

day11/csharp/obj/*
day11/csharp/bin/*

day12/csharp/obj/*
day12/csharp/bin/*

day13/csharp/obj/*
day13/csharp/bin/*

day14/csharp/obj/*
day14/csharp/bin/*

day15/csharp/obj/*
day15/csharp/bin/*
